@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    max-width: 100vw;
    height: auto;
}

/* LOCATION SECTION ONE - MOBILE */

.section-one{  
  background: url("../assets/mobile/image-map.png");
  background-repeat:no-repeat;
  height: 550px;
  background-size: cover;
}

.main-info-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  height: 72px;
  background: #151515;

  font-family: 'Big Shoulders Display';
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 3.63636px;
  color: #FFFFFF;
  margin-left: -4px;
  
}

.main-info-link:before{
  display: inline-flex;
  justify-content: center;
  align-items:center;
  content: url("../assets/icon-arrow-left.svg");
  width: 56px;
  height: 72px;
  background: #D5966C;   
}



/* LOCATION SECTION TWO MOBILE */

.section-two{
  display: flex;
  flex-direction: column;
  min-height: 439px;  
  background: #151515;
  /* outline: solid red; */
}

.section-two h1{
  font-family: 'Big Shoulders Display';
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  color: #FFFFFF;
  margin-left: 4.26%;
  margin-top: 48px;
}

.section-two-info h2{
  font-family: 'Big Shoulders Display';
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #D5966C;
  margin-left: 4.26%;
  margin-top: 48px;
}

.section-two-adress{
  font-family: 'Outfit';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-left: 4.26%;
  margin-top: 20px;
}

.section-two-location{
  font-family: 'Outfit';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-left: 4.26%;
  margin-right: 4.26%;
  margin-top: 20px;
  margin-bottom: 56px;
}


/* LOCATION-FOOTER MOBILE */

footer{
  display: flex;
  flex-direction: column;
  height: 336px;
  background: #D5966C;
}

footer img{
  width: 110.05px;
  height: 40px;
  margin-left: 8.53%;
  margin-top: 48px;
}

.footer-text{
  font-family: 'Outfit';
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #151515;
  margin-left: 8.53%;
  margin-right: 8.53%;
  margin-top: 20px;  
}

.footer-social-icons{
  margin-left: 8.53%;
  margin-top: 38px;
}

.footer-social-icons svg{
  margin-right: 20px;
}

div svg:hover #facebook,
div svg:hover #instagram,
div svg:hover #twitter{
    cursor: pointer;
    fill: #FFFFFF;    
}


/* TABLET */

@media screen and (min-width: 768px){

  /* LOCATIO SECTION ONE TABLET */

  .section-one{
    background: url("../assets/tablet/image-map.png");
    background-repeat:no-repeat;
    height: 600px;
    background-size: cover;
  }

  .back-to-main{
    margin-left: 5.07%;
  }

  /* LOCATION SECTION TWO TABLET*/

  .section-two{
    flex-direction: row;
  }

  .section-two h1,
  .section-two-info{
    margin-top: 88px;
  }

  .section-two-info{
    margin-left: 68px;
    margin-right: 40px;
  }

  .section-two-info h2{
    margin-top: 0;
  }

  /* LOCATION FOOTER TABLET */

  footer{
    flex-direction: row;
    height: 216px;
  }

  .footer-logo{
    margin-left: 5.07%;
    margin-top: 56px;
  }

  .footer-text{
    width: 36.58%;
    margin-right: 0;
    margin-top: 56px;
  }

  .footer-social-icons{
    margin-top: 56px;
    margin-left: 17.31%;
  }


}

/* LOCATION - DESCTOP */
@media screen and (min-width: 1440px){

/* LOCATION SECTION ONE - DESCTOP */
.section-one{
  background: url("../assets/desktop/image-map.png");
}

.back-to-main{
  margin-left: 11.45%;
}


/* LOCATION SECTION TWO - DESCTOP */

.section-two{
  height: 548px;
}

.section-two h1{
  margin-left: 11.45%;
  margin-top: 104px;
  font-size: 70px;
  line-height: 70px;
  width: 350px;  
}

.section-two-info{
  margin-left: 220px;
  margin-top: 104px;  
}

.section-two-info h2{
  font-weight: 900;
  font-size: 36px;
  margin-left: 0;
}

.section-two-adress{
  font-size: 22px;
  line-height: 32px;
  margin-left: 0;
}

.section-two-location{
  font-size: 22px;
  line-height: 32px;
  margin-left: 0;
  width: 540px;
}
/* LOCATION FOOTER - DESCTOP */
footer{
  height: 244px;
}

.footer-logo{
  width: 159.57px;
  height: 58px;
  margin-left: 11.45%;
  margin-top: 80px;
}

.footer-text{
  font-size: 18px;
  line-height: 28px;
  width: 430px;
  margin-left: 10%;
  margin-top: 80px;
}

.footer-social-icons {
  margin-top: 80px;
  margin-left: 19.44%;
}

}

